.gallery-page {

    .img-wrap {
        width: 400px;
        height: 350px;
    }

    img {
        animation: fadeInAnimation 3s 2s backwards;

        &:hover {
            animation: pulse 1s;
        }
    }
}